@import "./fonts/Papyrus.css";
@import './fonts/Baybayin.css';

.App {
    display: flex;
}

.left-panel {
    width: 200px;
    position: fixed;
}

.lp-logo {
    font-family: Papyrus, serif;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    padding: 14px 7px 7px;
    color: #fff;
    background: #000 url("./images/sImoLogo-white.svg") no-repeat 7px center;
    background-size: 50px;
}

.lp-menu {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    background-color: gainsboro;
}

.lp-menu span,
.lp-menu a {
    text-decoration: none;
    color: inherit;
    padding: 7px 14px;
}

/***********************/

.right-panel {
    margin-left: 221px;
    width: calc(100% - 200px);
}

.rp-header {
    display: flex;
    align-items: center;
    font-family: Papyrus, serif;
    font-size: 56px;
    font-weight: bold;
    color: #5599ff;
    border-bottom: 1px solid #5599ff;
    height: 89px;
    background: #fff url("./images/sImoLogo-full-inline.svg") no-repeat left center;
    background-size: 203px;
    padding-left: 231px;
    padding-top: 14px;
}

.rp-content {
    padding: 14px 14px 14px 0;
}

.bybyn {
    font-family: Baybayin-Modern-Club, serif;
}
